@media (min-width: 768px) {
  .hero-wrapper,
  .content-col-wrapper,
  .getapp-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
  .ptb-80 {
    padding: 50px 0;
  }
  .hero {
    padding: 50px 0;
  }
  .hero-wrapper .col-left p {
    width: 100%;
  }
  .search-food {
    width: 100%;
  }
  .social-icons {
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 30px;
  }
  .col-right {
    order: -1;
  }
  .col-left,
  .content-col,
  .getapp-content {
    text-align: center;
  }
  .section-title p {
    width: 100%;
  }
  .content-col p {
    margin-bottom: 25px;
    width: 100%;
  }
  .services .content-col {
    padding-left: 0 !important;
  }
  .content-col-image {
    order: -1;
  }
  .getapp-wrapper {
    padding: 25px 20px;
  }
  .getapp-content h2 {
    font-size: 38px;
  }
  .getapp-content h2 br {
    display: none;
  }
  .getapp-content a {
    width: auto;
    margin: 15px 0 0 0;
  }
  .footer-wrapper {
    padding: 50px 0;
  }
  .footer-about {
    flex: 0 0 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }
  .footer-wrapper .footer-col {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
  .menu-items {
    margin-top: 50px;
    gap: 30px;
  }
  .store-buttons {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: flex-start !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 90%;
    padding: 0 20px;
  }
  .ptb-80 {
    padding: 80px 0;
  }
  .hero {
    padding: 50px 0;
  }
  .hero-wrapper {
    min-height: auto;
  }
  .services .content-col {
    padding-left: 25px;
  }
  .hero-wrapper .col-left p,
  .search-food {
    width: 300px;
  }
  .social-icons {
    margin-top: 50px;
  }
  .getapp-wrapper {
    padding: 40px 30px;
    align-items: flex-start;
  }
  .getapp-content h2 {
    font-size: 30px;
  }
  .getapp-content a {
    width: 115px;

    margin: 25px 15px 0 0;
  }
  .footer-wrapper {
    padding: 65px 0;
  }
  .footer-about {
    flex: 0 0 100%;
    margin-bottom: 40px;
  }
  .footer-wrapper .footer-col {
    flex: 0 0 250px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) and (max-width: 1230px) {
  .container {
      width: 90%;
  }
  .services .content-col {
      padding-left: 25px;
  }
}

@media (max-width: 1200px) {
  :root {
      --text-large: 35px;
      --text-medium: 18px;
  }
  h1,
  h2 {
      line-height: 50px;
      margin-bottom: 20px;
  }
  h3 {
      margin-bottom: 10px;
  }
}